<%= simple_form_for blog do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :summary, as: :string %>
  <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'standard' } } %>

  <div class="input">
    <%= link_to t(".cancel"), blogs_path, class: "btn secondary" %>
    <%= f.submit t(".submit"), class: "btn" %>
  </div>

<% end %>
