<%= simple_form_for blog do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :summary, as: :string %>
  <%= f.input :image, as: :string, placeholder: t(".image_info") %>

  <%= f.input :description %>

  <div class="input">
    <%= link_to t(".cancel"), blogs_path, class: "btn secondary" %>
    <%= f.submit t(".submit"), class: "btn" %>
  </div>

<% end %>
