
<div class="body blogs">
  <% if current_user&.admin? %>
    <div class="menu-holder">
      <span class="right long"><%= link_to t(".create"), new_blog_path, class: "btn link" %></span>
    </div>
  <% end %>

  <% @blogs.each do |blog| %>
    <div class="blog-holder">
      <%= link_to blog_path(blog) do %>
        <h3><%= blog.title %></h3>
        <div class="image-holder">
          <%= image_tag blog.image.strip if blog.image %>
        </div>
        <div class="blog-summary">
          <div class="blog-date"><%= I18n.l(blog.updated_at.to_date, format: :blog) %></div>

          <div><%= blog.summary %></div>
          <div class="blog-annotations"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
