
<div class="body blogs">
  <% if current_user&.admin? %>
    <div class="central">
      <%= link_to new_blog_path do %>
        <span class="btn"><%= t(".create") %></span>
      <% end %>
    </div>
  <% end %>

  <% @blogs.each do |blog| %>
    <div class="blog-holder">
      <%= link_to blog_path(blog) do %>
        <div class="blog-title">
          <h3><%= blog.title %></h3>
        </div>
        <% if blog.image.present? %>
          <div class="image-holder">
            <%= image_tag blog.image.strip %>
          </div>
        <% end %>
        <div class="blog-details">
          <div class="blog-date"><%= I18n.l(blog.updated_at.to_date, format: :blog) %></div>

          <div class="blog-summary"><%= blog.summary %></div>
          <div class="blog-annotations"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
