<div class="body">
  <% if current_user&.admin? %>
    <div class="central">
      <%= link_to edit_blog_path(@blog) do %>
        <span class="btn"><%= t(".edit") %></span>
      <% end %>
    </div>
  <% end %>

  <div class="blog">
    <h1><%= @blog.title %></h1>
    <div class="image-holder">
      <%= image_tag @blog.image.strip if @blog.image %>
    </div>
    <div class="blog-details">
      <div class="blog-date"><%= I18n.l(@blog.updated_at.to_date, format: :blog) %></div>
      <%= @blog.summary %>

      <p><%= @blog.description.html_safe %></p>
      <div class="blog-annotations"></div>
    </div>
  </div>
</div>
