<% subtype_name = Category.subtypes.key(subtype) %>

<div class="category <%= subtype_name %>">
  <%= f.simple_fields_for category do |c| %>
    <%= c.hidden_field :subtype, value: subtype_name %>
    <h4><%= c.label subtype_name %></h4>

    <% questions = ["a", "b", "c", "d"] %>
    <% questions << "e" if subtype_name == "ethnicity" %>

    <% questions.each do |question_id| %>
      <%= c.input question_id, label: false,
                               collection: category_answers_collection(subtype_name, question_id),
                               include_blank: t("categories.#{subtype_name}.#{question_id}.text") %>
    <% end %>
  <% end %>
</div>
