<div class="category">
  <%= simple_form_for category do |ff| %>
    <h4><%= ff.label category.name %></h4>

    <p><%= t("categories.#{category.name}.note_html") %></p>

    <% questions = ["a", "b", "c", "d"] %>

    <% questions.each do |question_id| %>
      <%= label_tag t("categories.#{category.name}.#{question_id}.text") %>
      <%= ff.input question_id, label: false, collection: category_answers_collection(category.name, question_id) %>
    <% end %>
  <% end %>
</div>
