<h4><%= t(".salary") %></h4>

<%= simple_form_for privilege do |f| %>
  <div>
    <%= f.input :salary, collection: salary_collection, label: false, include_blank: t(".salary_dollar") %>
  </div>
  <div class="input">
    <%= f.country_select :country_code, { priority_countries: Privilege.priority_countries }, label: false, include_blank: t(".age") %>
  </div>
  <div>
    <%= f.input :year, input_html: { step: 1, min: 16, max: 109, placeholder: t(".age") }, label: false %>
  </div>
  <div>
    <% current_year = Time.zone.now.year %>
    <%= f.input :salary_year, input_html: { step: 1, min: 2008, max: current_year, placeholder: t(".salary_year") }, label: false %>
  </div>
  <div>
    <%= f.input :role, collection: role_collection, label: false, include_blank: t(".role") %>
  </div>
  <div>
    <%= f.input :redundancy, collection: redundancy_collection, label: false, include_blank: t(".redundancy") %>
  </div>

  <% categories = [] %>
  <% 4.times do |index| %>
    <% categories[index] = Category.new(subtype: index) %>
    <%= render "privileges/category", subtype: index, f: f, category: categories[index] %>
  <% end %>

  <%= f.submit t(".save"), class:"btn" %>
<% end %>
