<h3><%= t(".title") %></h3>
<h4><%= t(".subtitle") %></h4>

<p><%= t(".preamble") %></p>
<p><%= t(".retired") %></p>
<p><%= t(".optional") %></p>

<%= render "privileges/form", privilege: Privilege.new %>
