<h2><%= t(".title") %></h2>
<h3><%= t(".subtitle") %></h3>

<p><%= t(".preamble") %></p>
<p><%= t(".retired") %></p>
<p><%= t(".optional") %></p>

<%= render "privileges/form", privilege: Privilege.new if @subtype.negative? %>
<%= render "privileges/category", subtype: @subtype, privilege_id: @privilege_id if @subtype.between? 0, 3 %>
