<%= simple_form_for user do |f| %>
  <p><%= t(".shown") %></p>

  <div class="label"><%= label_tag t(".name") %></div>
  <%= f.input :short_name, label: false %>

  <p><%= t(".password") %></p>

  <div class="label"><%= label_tag :current_password %></div>
  <%= f.input :current_password, label: false %>

  <div class="label"><%= label_tag :new_password %></div>
  <%= f.input :password, label: false %>

  <div class="label"><%= label_tag t(".new_password_confirmation") %></div>
  <%= f.input :password_confirmation, label: false %>

  <%= render "users/profile", f: f, profile: profile %>

  <%= f.submit t(".save"), class:"btn" %>
<% end %>
