<h2><%= t(".title") %></h2>

<table>
  <thead>
    <th><%= t(".email") %></th>
    <th><%= t(".short_name") %></th>
    <th><%= t(".last_sign_in") %></th>
    <th><%= t(".moderator") %></th>
    <th><%= t(".admin") %></th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= simple_form_for user, url: user_path(user.id), data: { inline: true } do |f| %>
          <td><%= user.email %></td>
          <td><%= user.short_name %></td>
          <td><%= I18n.l(user.last_sign_in_at.to_date, format: :short) %></td>
          <td><%= f.input :moderator, label: false %></td>
          <td><%= f.input :admin, label: false %></td>
          <td><%= f.submit t(".save"), class:"btn" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
