<h2><%= t(".title") %></h2>

<table>
  <thead>
    <th><%= t(".email") %></th>
    <th><%= t(".short_name") %></th>
    <th><%= t(".last_sign_in") %></th>
    <th><%= t(".moderator") %></th>
    <th><%= t(".admin") %></th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.short_name %></td>
        <td><%= I18n.l(user.last_sign_in_at.to_date, format: :short) %></td>
        <td><%= user.moderator %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
