<h2><%= t(".title") %></h2>

<table class="users">
  <thead>
    <th><%= t(".email") %></th>
    <th><%= t(".short_name") %></th>
    <th><%= t(".last_sign_in") %></th>
    <th><%= t(".moderator") %></th>
    <th><%= t(".admin") %></th>
    <th></th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= simple_form_for user, url: user_path(user.id), data: { inline: true } do |f| %>
        <tr class="user-<%= user.id %>">
          <td><%= user.email %></td>
          <td><%= user.short_name %></td>
          <td><%= I18n.l(user.last_sign_in_at.to_date, format: :short) %></td>
          <td><%= f.input :volunteer, label: false %></td>
          <td><%= f.input :admin, label: false %></td>
          <td><%= f.submit t(".save"), class:"btn" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
