<div class="central">
  <div class="profile">

    <% if current_user == @user %>
      <div class="right">
        <%= link_to edit_user_path(@user) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
    <% end %>

    <div class="large"><%= @user.short_name %></div>

    <% if @user.profile %>
      <div class="italic-min"><%= @user.description %></div>
      <div><%= @user.role %></div>

      <div class="profile-fields">
        <div class="subsection">
          <div class="label"><label><i class="fab fa-facebook-f"></i></label></div>
          <div class="show"><%= @user.facebook || t(".space_html") %></div>

          <div class="label"><label><i class="fab fa-instagram"></i></label></div>
          <div class="show"><%= @user.instagram || t(".space_html")  %></div>

          <div class="label"><label><i class="fab fa-twitter"></i></label></div>
          <div class="show"><%= @user.twitter|| t(".space_html")  %></div>

          <div class="label"><label><%= t(".url") %></div>
          <div class="show"><%= @user.url || t(".space_html") %></div>
        </div>
        <div class="subsection">
          <div class="label"><label><%= t(".interests") %></div>
          <div class="show"><%= @user.interests || t(".space_html") %></div>

          <div class="label"><label><%= t(".summary") %></div>
          <div class="show"><%= @user.summary || t(".space_html") %></div>
        </div>
      </div>
    <% else %>
      <%= t(".no_profile") %>
    <% end %>

    </div>
  </div>
</div>
