<h2><%= t(".subtitle") %></h2>
<p><%= t(".safe") %></p>
<p><%= t(".welcome") %></p>
<p><%= t(".calculator_html") %></p>

<p><%= t(".why_html") %></p>

<div class="image">
  <%= image_tag "diversity_bw.png" %>
</div>
