<div class="central">
  <%= render "welcome/titles" %>

  <div>
    <%= link_to new_user_registration_path do %>
      <span class="btn"><%= t(".join") %></span>
    <% end %>
  </div>
  <div>
    <%= link_to new_user_session_path do %>
      <span class="btn secondary"><%= t(".sign_in") %></span>
    <% end %>
  </div>
  <div>
    <%= link_to "/forum" do %>
      <span class="link"><%= t(".explore") %></span>
    <% end %>
  </div>
</div>
