<div class="central">
  <%= render "welcome/titles" %>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: t(".email") },
                  label: false %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", placeholder: t(".password") },
                  label: false %>
    </div>

    <div class="input minisection">
      <%= f.button :submit, t(".sign_in"), class: "sign-in" %>
    </div>
  <% end %>

  <div class="minisection">
    <%= link_to new_password_path(resource_name) do %>
      <span class="link italic-min"><%= t(".forgot") %></span>
    <% end %>
  </div>
</div>
