<p><%= t(".hello", name: @resource.email) %>!</p>

<p><%= t(".request") %></p>

<p><%= link_to t("devise.passwords.edit.change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".caveat") %></p>
<p><%= t(".safety") %></p>
