<div class="footer">
  <div class="menu-holder">
    <div class="link-holder">
      <%= link_to "/cookies" do %>
        <div class="link"><%= t(".cookies") %></div>
      <% end %>
    </div>
    <div class="link-holder">
      <%= link_to "/ts_and_cs" do %>
        <div class="link"><%= t(".ts_and_cs") %></div>
      <% end %>
    </div>
    <div class="link-holder">
      <%= link_to "/privacy" do %>
        <div class="link"><%= t(".privacy") %></div>
      <% end %>
    </div>
  </div>
</div>
