
<div class="footer">
  <div class="menu-holder">
    <div class="link-holder right">
      <%= link_to main_app.privacy_path do %>
        <div class="link"><%= t(".privacy") %></div>
      <% end %>
    </div>
    <div class="link-holder right">
      <%= link_to main_app.ts_and_cs_path do %>
        <div class="link"><%= t(".ts_and_cs") %></div>
      <% end %>
    </div>
    <div class="link-holder right">
      <%= link_to main_app.cookies_path do %>
        <div class="link"><%= t(".help") %></div>
      <% end %>
    </div>
  </div>
</div>
