<div class="menu-holder">
  <div class="center menu">
    <% if current_user %>
      <div class="link-holder">
        <%= link_to "/TODO" do %>
          <div class="link"><%= t(".card") %></div>
        <% end %>
      </div>
    <% end %>

    <div class="link-holder">
      <%= link_to blogs_path do %>
        <div class="link"><%= t(".blog") %></div>
      <% end %>
    </div>

    <div class="link-holder">
      <%= link_to "forum" do %>
        <div class="link"><%= t(".forum") %></div>
      <% end %>
    </div>

    <div class="link-holder">
      <% if current_user %>
        <%= link_to "/TODO" do %>
          <div class="link"><%= t(".messages") %></div>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <div class="link"><%= t(".join") %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
