<!DOCTYPE html>
<html>
  <head>
    <title>MPACT.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CK editor library, for inline wysiwyg editing -->
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

    <!-- Cookie consent JS library -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": { "background": "#4C4C4C;" },
          "button": { "background": "#f1d600" }
        },
        "content": {
          "message": "This website uses a few small but important cookies",
          "dismiss": "I accept cookies"
        }
      })});
    </script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flashes" %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
