<h2><%= t(".why") %></h2>

<h3><%= t(".safe_space") %></h3>
<p><%= t(".safe_space_1") %></p>
<p><%= t(".safe_space_2") %></p>
<p><%= t(".safe_space_3") %></p>

<h3><%= t(".more_diversity") %></h3>

<p><%= t(".ability_1") %></p>
<h4><%= t(".ability") %></h4>

<p><%= t(".ability_2") %></p>

<h4><%= t(".caste") %></h4>
<p><%= t(".caste_html") %></p>
<p><%= t(".caste_1") %></p>
<p><%= t(".caste_2") %></p>
<p><%= t(".caste_3") %></p>

<p><%= t(".more_diversity_1") %></p>

<p><%= t(".thank_you") %></p>
