<div class="policy">
  <h2><%= t(".title") %></h2>

  <h4><%= t(".us_title_html") %></h4>
  <p><%= t(".us_1_html") %></p>

  <h4><%= t(".information_title") %></h4>
  <p><%= t(".information_1") %></p>

  <h4><%= t(".cookies_title") %></h4>
  <p><%= t(".cookies_1_html") %></p>

  <h4><%= t(".store_title") %></h4>
  <p><%= t(".store_1") %></p>
  <p><%= t(".store_2") %></p>
  <p><%= t(".store_3") %></p>

  <h4><%= t(".access_title") %></h4>
  <p><%= t(".access_1") %></p>

  <h4><%= t(".changes_title") %></h4>
  <p><%= t(".changes_1") %></p>

  <h4><%= t(".contact_title") %></h4>
  <p><%= t(".contact_1") %></p>
</div>
