<div class="policy">
  <h3><%= t(".title")%></h3>

  <h4><%= t(".summary_title")%></h4>
  <p><%= t(".summary") %></p>
  <p><%= t(".summary_1") %></p>

  <h4><%= t(".legal_title")%></h4>
  <p><%= t(".legal_html") %></p>

  <h4><%= t(".anonymous")%></h4>
  <p><%= t(".anonymous_para")%></p>
  <p><%= t(".anonymous_para_1")%></p>
  <p><%= t(".anonymous_para_2")%></p>
  <p><%= t(".anonymous_para_3")%></p>
  <p><%= t(".anonymous_para_4")%></p>

  <h4><%= t(".moderated")%></h4>
  <p><%= t(".moderated_para")%></p>
  <p><%= t(".moderated_para_1")%></p>
  <p><%= t(".moderated_para_2")%></p>

  <h4><%= t(".harmful")%></h4>
  <p><%= t(".harmful_content")%></p>
  <ul>
    <li><%= t(".harmful_content_1")%></li>
    <li><%= t(".harmful_content_2")%></li>
    <li><%= t(".harmful_content_3")%></li>
    <li><%= t(".harmful_content_4")%></li>
    <li><%= t(".harmful_content_5")%></li>
    <li><%= t(".harmful_content_6")%></li>
    <li><%= t(".harmful_content_7")%></li>
    <li><%= t(".harmful_content_8")%></li>
  </ul>
  <p><%= t(".moderated_para_3")%></p>
  <p><%= t(".moderated_para_4")%></p>
  <p><%= t(".free_para")%></p>

  <h4><%= t(".third_party")%></h4>
  <p><%= t(".third_party_para1")%></p>
  <p><%= t(".third_party_para2")%></p>
  <p><%= t(".third_party_para3")%></p>

  <h4><%= t(".security")%></h4>
  <p><%= t(".security_para")%></p>

  <h4><%= t(".viruses")%></h4>
  <p><%= t(".viruses_para1")%></p>
  <p><%= t(".viruses_para2")%></p>

  <h4><%= t(".ip")%></h4>
  <p><%= t(".ip_para1")%></p>

  <h4><%= t(".limitation")%></h4>
  <p><%= t(".limitation_para1")%></p>
  <p><%= t(".limitation_para2")%></p>

  <h4><%= t(".law")%></h4>
  <p><%= t(".law_para")%></p>

  <h4><%= t(".about_us")%></h4>
  <p><%= t(".about_us_para")%></p>
</div>
